<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>

    <body>
        <div id="root"></div>
    </body>
</html>